<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.liy.mango.mapper.MangoDriftBottleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="work.liy.mango.model.MangoDriftBottlePo">
        <id column="id" property="id" />
        <result column="time" property="time" />
        <result column="create_id" property="createId" />
        <result column="content" property="content" />
        <result column="is_del" property="isDel" />
        <result column="type" property="type" />
        <result column="title" property="title" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, time, create_id, content, is_del, type, title
    </sql>
    <select id="getOneByRandom" resultType="work.liy.mango.model.MangoDriftBottlePo">
        SELECT * FROM mango_drift_bottle
        where type = #{type} and is_del = 0
        ORDER BY RAND() LIMIT 1 ;
    </select>

</mapper>
